.nsp_history
autom4te.cache
config.log
config.status
Makefile
Makefile.incl 
Path.incl
configure
libtool
aclocal.m4
nsp.iss
bin/XML2Modelica.exe
bin/modelicac.exe
bin/nsp
bin/nsplibtool
bin/paksazi.exe
bin/scilex
bin/simport.exe
bin/translator.exe
bin/zterm
libs/simport_pervasives.mdlio

