[Desktop Entry]
Encoding=UTF-8
Name=Nsp
Comment=Scientific Computing using Nsp
TryExec=/usr/bin/nsp
Exec=/usr/bin/nsp
Icon=/usr/local/scilab-gtk/config/tumbi48.png
Terminal=false
Type=Application
Categories=Development;Math;Science;X-Fedora;
StartupNotify=false
X-Desktop-File-Install-Version=0.12


